* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 1000px;
}

#root {
    display: flex;
    justify-content: center;
}

body {
    background-color: #212126;
    text-align: center;
    color: #fefefe;
    font-family: 'Secular One', sans-serif;
}

.post {
    display: flex;
    padding: 10px;
    border: 4px solid gray;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}